In [1]:
print(type(float(False)))
print(type(False))

<class 'float'>
<class 'bool'>

In [2]:
x = 1

while x < 10:
    x = x * 2

print(x)

16

In [3]:
packing_list = []
packing_list.append("shirt")

packing_list_2 = packing_list
packing_list_2.append("pants")

packing_list_3 = packing_list_2

packing_list.append("socks")

print(packing_list)
print(packing_list_2)
print(packing_list_3)

['shirt', 'pants', 'socks']
['shirt', 'pants', 'socks']
['shirt', 'pants', 'socks']

In [4]:
def is_jacket_required(temp):
    if temp > 65:
        return False
    else:
        return True

## Codewars kata

### Registration

In [5]:
# registration kata - implement a difference function, which subtracts one list from another and returns the result
# must remove all occurences of items in 
def array_diff(a, b):
    for i in b:
        if i in a:
            for c in range(a.count(i)):
                a.remove(i)
    return a

x = array_diff(['1','2','3'],['2'])
print(x)

y = array_diff([1,2,2,2,3],[2])
print(y)

['1', '3']
[1, 3]

### Basic mathematical operations
https://www.codewars.com/kata/basic-mathematical-operations

In [6]:
def basic_op(operator, value1, value2):
    if operator == '*':
        return value1 * value2
    elif operator == '+':
        return value1 + value2
    elif operator == '/':
        return value1 / value2
    elif operator == '-':
        return value1 - value2
    else:
        return "operator not supported!"

print(basic_op("*", 100, 3.5))
print(basic_op("/", 145000000, 20))
print(basic_op("!", 145000000, 20))

print(basic_op("+", 4, 7))
print(basic_op("-", 15, 18))
print(basic_op("*", 5, 5))
print(basic_op("/", 49, 7))

350.0
7250000.0
operator not supported!
11
-3
25
7.0

In [7]:
def basic_op(operator, value1, value2):
    if operator in ['*','+',"/","-"]:
        return eval("{}{}{}".format(value1, operator, value2))
    else:
        return "operator not supported!"
    
print(basic_op("*", 100, 3.5))
print(basic_op("/", 145000000, 20))
print(basic_op("!", 145000000, 20))

print(basic_op("+", 4, 7))
print(basic_op("-", 15, 18))
print(basic_op("*", 5, 5))
print(basic_op("/", 49, 7))

350.0
7250000.0
operator not supported!
11
-3
25
7.0

In [8]:
def basic_op(operator, value1, value2):
    try:
        return eval(f"{value1}{operator}{value2}")
    except:
        return "invalid operation"
    
print(basic_op("*", 100, 3.5))
print(basic_op("/", 145000000, 20))
print(basic_op("!", 145000000, 20))
print(basic_op("**", 3.5, 3))

print(basic_op("+", 4, 7))
print(basic_op("-", 15, 18))
print(basic_op("*", 5, 5))
print(basic_op("/", 49, 7))

350.0
7250000.0
invalid operation
42.875
11
-3
25
7.0

### Even / Odd
https://www.codewars.com/kata/even-or-odd

In [9]:
def even_or_odd(number):
    if number%2 == 0:
        return "Even"
    else:
        return "Odd"

print(even_or_odd(11))
print(even_or_odd(12))

Odd
Even

In [10]:
def even_or_odd(number):
    return "Even" if number % 2 == 0 else "Odd"

print(even_or_odd(11))
print(even_or_odd(12))

print(even_or_odd(2))
print(even_or_odd(1))
print(even_or_odd(0))
print(even_or_odd(9))

Odd
Even
Even
Odd
Even
Odd

### Sum of Positives
https://www.codewars.com/kata/sum-of-positive

## Probability calculations

### Burger joint

Here‚Äôs what you know about customer transactions:

All customers order a main dish of either burgers (üçî) or veggie wraps (üåØ).
All customers order a side dish of either ice cream (üç¶) or fries (üçü).

What is the probably that customers who order burgers will also order ice cream?

In [64]:
import pandas as pd

In [65]:
customer_purchases = [["burger","fries"],
            ["burger","fries"],
            ["burger","fries"],
            ["burger","fries"],
            ["burger","fries"],
            ["burger","ice cream"],
            ["burger","ice cream"],
            ["wrap","fries"],
            ["wrap","ice cream"],
            ["wrap","ice cream"]]

customer_data = pd.DataFrame(customer_purchases)
customer_data.columns = ['main_dish','side_dish']

customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   main_dish  10 non-null     object
 1   side_dish  10 non-null     object
dtypes: object(2)
memory usage: 288.0+ bytes

In [66]:
customer_data

  main_dish  side_dish
0    burger      fries
1    burger      fries
2    burger      fries
3    burger      fries
4    burger      fries
5    burger  ice cream
6    burger  ice cream
7      wrap      fries
8      wrap  ice cream
9      wrap  ice cream

In [102]:
print(min(customer_data.main_dish))

burger

In [88]:
data_size = len(customer_data.index)

burger_data = customer_data[customer_data.main_dish == 'burger']
burger_count = len(burger_data)
burger_prob = burger_count/data_size

burger_ice_cream_data = burger_data[burger_data.side_dish == 'ice cream']
burger_ice_cream_count = len(burger_ice_cream_data) 
burger_ice_cream_prob =  burger_ice_cream_count/data_size

print(f"data set: {data_size}")
print(f"burger prob: {burger_prob}")
print(f"burger+ice cream prod: {burger_ice_cream_prob}")

data set: 10
burger prob: 0.7
burger+ice cream prod: 0.2

In [92]:
print(f"order ice cream with burger prob: {burger_ice_cream_prob/burger_prob}")

order ice cream with burger prob: 0.28571428571428575

In [93]:
wrap_data = customer_data[customer_data.main_dish == 'wrap']
wrap_count = len(wrap_data)
wrap_prob = wrap_count/data_size

wrap_fries_data = wrap_data[wrap_data.side_dish == 'fries']
wrap_fries_count = len(wrap_fries_data) 
wrap_fries_prob =  wrap_fries_count/data_size

print(f"data set: {data_size}")
print(f"veggie wrap prob: {wrap_prob}")
print(f"veggie wrap + fries prod: {wrap_fries_prob}")

data set: 10
veggie wrap prob: 0.3
veggie wrap + fries prod: 0.1

In [95]:
print(f"order fries with veggies wrap prob: {wrap_fries_prob/wrap_prob}")

order fries with veggies wrap prob: 0.33333333333333337

## Next section